# ignore all
*
!*/
include/*

# allow any
!*.c
!*.cpp
!*.h
!*.hpp
!*.sh
!*.py
!*Makefile*
!*.geo
!*.md
!.gitignore
!install.sh
!util_install.sh

# allow some
!utils/load_balancing/include/
